* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
}
/*----------------------------------------------*/
header{
    border: 1px solid black;
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    
}

header h1{
    margin: auto 20px;
}

/*----------------------------------------------*/
.navbar  ul{
    display: flex;
    flex-wrap: row;
    
}

.navbar ul li{
    padding: 20px;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    padding: 10px;
}

.navbar ul li a:hover{
    text-decoration: underline;
    background-color: aqua;
}
/*----------------------------------------------*/

aside{
    border: 1px solid black;
    width: 20%;
    text-align: center;
    
}

aside h1{
    padding: 40px 0px;
}

.categorias{
    list-style-type: none; 
}

.categorias li {
    padding: 10px;
    border: 1px solid gray; 
    width: 70%;
    margin: auto; 
}

.categorias li a{
    text-decoration: none;   
}


/*----------------------------------------------*/
main{
    border: 1px solid black;
    width: 100%;
}


.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin: 50px auto;
    grid-gap: 20px;
}

.banner{
    grid-column: 1/4;
    grid-row: 1;
}
    
.card{
    border: 1px solid gray;
    grid-row: 2;
}



img{
    max-width: 100%;
}




/*----------------------------------------------*/
.conteudo{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}



