* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 1em;
}
html, body{
    height: 100%;
}

header{
    padding: 28px;
    background-color: #455a64;
    color: white;
}
h1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    padding: 64px;

}
.wrapper{
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    padding-right: 10px;
    padding-left: 10px;
}
.container{
    padding: 64px;
    background-color: #efefe4;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
    gap: 24px;
    

}
.item{
    min-width: 64px;
    width: 100%;
    height: auto;
    padding: 16px;
    background-color: #01579b;
    color: white;
    border-radius: 6px;
    text-align: center;
    font-size:  2rem;
    font-weight: bold;
    font-family: sans-serif;
}
